:root {
    --color-sass--primary: #3d405b;
    --color-sass--secondary: #e07a5f;
    --color-sass--terciary: #ffd166;
    --color-sass--background: #f8f7f3;
    --color-sass--general: #FAFAFA;
    --color-sass--specific: #161616; }

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    color: var(--color-sass--specific);;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    list-style-type: none;
}
  
html {
    height: 100%;
    scroll-behavior: smooth; 
}

body, footer, header {
    transition: 700ms linear; 
}

body {
    background-color: var(--color-sass--background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative; 
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 100px;
}

h1 {
    margin: 0;
}


@media screen and (min-width: 320px) {
    * {
        font-size: 0.9rem; 
    } 
}

@media screen and (min-width: 768px) {
    * {
        font-size: 1.2rem; 
    } 
    }